$icon-color: #C4C4C4;
$bg-color: #1F1F1F;
$font-color: #F0F8FF;
$hover-blue : rgb(44, 44, 190);
$bg-blue: rgba(9, 9, 187,0.8);
$button-blue : rgba(6, 6, 145, 0.8);
$button-color : #f9c33b;
$bgicon-color : #e7e7e7;
$outline-color : #727272;
$poppins: poppins;