@import 'variables';
@import 'functions';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    font-family: $poppins;
}

.item {

    &1 {

        background: $bg-color;
        color: $font-color;
        display: flex;
        flex-direction: column;

        .main {

            width: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            max-width: 80%;
            margin: 20px auto;

            h3 {
                margin: 0;
                font-weight: bold;
            }

            .content {

                display: flex;
                align-items: flex-end;
                justify-content: center;

                img {
                    margin-left: 7px;
                    width: 25px;
                    cursor: pointer;
                }

            }

        }

        nav {
            width: 100%;
            margin: 0 auto;
            max-width: 80%;
            font-size: small;

            ul {
                display: flex;
                list-style: none;
                justify-content: space-between;
                align-items: flex-end;
                margin: 0;
                padding: 0;

                li {
                    padding: 5px 20px;
                    cursor: pointer;

                    &:hover {
                        background-color: $hover-blue;
                        opacity: 0.9;
                    }

                }

            }

            img {
                width: 13px;
            }

        }

    }

    &2 {
        background-position: center;

        .actual-bgcol {
            background-color: $bg-blue;
            color: $font-color;

            .main {
                max-width: 80%;
                margin: 0 auto;
                padding: 80px 0;
                display: flex;
                align-items: center;

                .content{

                    flex-basis: 50%;

                    h1 {
                        font-size: xxx-large;
                        font-weight: bolder;
                        margin: 0;
                    }

                    button {
                        margin-top: 15px;
                        padding: 12px 30px;
                        border: none;
                        border-radius: 0;
                        background-color: $button-color;
                        color: $font-color;
                        cursor: pointer;

                        &:hover {
                            background-color: goldenrod;
                            box-shadow: 2px 1px 10px lightgray;
                        }

                    }

                    .dots {

                        margin-top: 25px;
                        display: flex;
                        align-items: center;

                        .dot {
                            background-color: $font-color;
                            width: 13px;
                            height: 13.5px;
                            border-radius: 50%;   
                            margin-right: 4px;   
                            cursor: pointer;
                            
                            &:hover {
                                background-color: goldenrod;
                                box-shadow: 1px 1px 6px lightgray;
                            }
                        }

                        .marked {
                            width: 8px;
                            height: 8.5px;
                            background-color: $bg-blue;
                            border: 3px solid $button-color;

                            &:hover {
                                width: 13px;
                                height: 13.5px;
                                background-color: goldenrod;
                                box-shadow: 1px 1px 6px lightgray;
                                border: none;
                            }
                        }

                    }

                    
                }

                img {
                    max-width: 40%;
                    margin-left: 30px;
                }


            }


        }

    }

    &3 {

        background-color: $button-color;

        .main {
            max-width: 80%;
            margin: 0 auto;
            padding: 80px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
                max-width: 50%;
            }


            .content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                flex-grow: 1;
                padding: 0 30px;

                h2 {
                    color: $font-color;
                    margin: 10px 0;
                }

                button {
                    margin-top: 20px;
                    padding: 10px 30px;
                    border: none;
                    background-color: $bg-blue;
                    color: $font-color;

                    &:hover {
                        background-color: $button-blue;
                    }
                }

            }

        }

    }

    &4 {
    
        display: flex;
        flex-direction: column;
        align-items: center;

        %main {
            max-width: 80%;
            width: 100%;
            margin: 20px auto;
        }

        .main1 {
            @extend %main;
            margin-top: 30px;

            h2 {
                margin-bottom: 0;
            }

        }

        .main2 {
            @extend %main;
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
            margin-bottom: 60px;

            .contents {
                padding-right: 20px;

                img {
                    @include transform(rotate(-20deg));
                    width: 30px;
                }

                button {
                    padding: 10px 25px;
                    border: 2px solid $button-blue;
                    background-color: #fff;
                    border-radius: 5px;
                    color: $button-blue;
                    font-weight: bold;
                }
            }

            .grad {
                h4 {
                    color: $button-color;
                }

                button {
                    border: 2px solid $button-color;
                    color: $button-color;
                }
            }

        }

    }

    &5 {
        display: flex;
        flex-direction: column;
        align-items: center;

        .main1{
            max-width: 80%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                margin-bottom: 10px;
            }
            
            button {
                margin: 30px 0;
                padding: 10px 25px;
                background-color: $button-blue;
                color: $font-color;
                border: none;
                align-self: flex-start;
            }
        }

        .main2 {
            max-width: 80%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin: 20px 0;

            p {
                max-width: 84%;
                margin-top: 5px;
            }

            .date {
                text-align: center;
                padding: 15px;
                background-color: $bgicon-color;
                border-radius: 10px;

                h3 {
                    margin: 0;
                }
            }

        }

    }

    &6 {
        display: flex;
        flex-direction: column;
        align-items: center;

        .main1{
            max-width: 80%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                margin-bottom: 10px;
            }
            
        }

        .main2 {
            max-width: 80%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin: 60px auto;

            img {
                max-width: 45%;
            }

            .content {
                flex-basis: 50%;

                h3 {
                    font-size: x-large;
                }

                p {
                    padding: 20px;
                    border: 2px solid $outline-color;
                    text-align: justify;
                    line-height: 1.5;
                }

                button {
                    margin-top: 30px;
                    padding: 10px 25px;
                    background-color: $bg-color;
                    color: $font-color;
                    border: none;
                }

            }
        }
    }

    &7 {
        background-color: $bg-color;
        color: $font-color;
        display: flex;
        justify-content: center;
        align-items: center;

        .main {
            max-width: 80%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 50px auto;

            img {
                background-color: $font-color;
                width: 20px;
                padding: 20px;
                cursor: pointer;
            }

            .contents {

                text-align: center;

                h2 {
                    margin: 0;
                }

                hr {
                    margin: 0 auto;
                    width: 100px;
                    height: 3px;
                    background-color: $font-color;
                    border-radius: 1px;
                }

                img {
                    padding: 0;
                    width: 100px;
                    margin: 60px auto 20px;
                    opacity: 0.8;
                    border-radius: 10px;
                }

                h3 {
                    margin: 0;
                }

                p {
                    margin: 10px auto;
                    width: 75%
                }

            }

        }
    }

    &8 {
        background-color: $font-color;
        display: flex;
        justify-content: center;
        align-items: center;

        .main {
            max-width: 80%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            margin: 40px auto 20px;

            .contents {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                .titles {
                    h2 {
                        margin: 0;
                    }
                }

                button {
                    background-color: $bg-color;
                    color: $font-color;
                    border: none;
                    border-radius: 30px;
                    padding: 10px 25px;
                    width: 25%;
                }
            }

            p {
                margin: 30px auto 20px;
            }

        }

    }

    &9 {
        display: flex;
        justify-content: center;
        align-items: center;

        .main {
            margin: 50px auto;
            max-width: 80%;
            display: flex;
            align-items: flex-start;

            .contents {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                margin-right: 25px;

                input, textarea {
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid $bg-color;
                    line-height: 1.7;
                    margin: 20px auto;
                    outline: none;
                }

                textarea {
                    height: 25px;
                }

                button {
                    margin: 20px 0;
                    width: 30%;
                    padding: 10px 25px;
                    color: $font-color;
                    background-color: $button-blue;
                    border: none;
                    border-radius: 30px;
                }

            }

            img {
                max-width: 50%;
            }

        }
    }

    &10 {
        background-color: $bg-color;
        color: $font-color;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 15px;

        .main {
            max-width: 80%;
            width: 100%;
            display: flex;
            flex-direction: column;

            .content1 {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .connects {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-basis: 50%;

                    .calls {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-right: 50px;

                        img {
                            max-width: 20px;
                            height: 20px;
                            margin-right: 10px;
                        }
                    }
                }

                .connectEmail {
                    flex-basis: 50%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    input {
                        position: relative;
                        width: 100%;
                        font-size: medium;
                        padding: 15px 20px;
                        border-radius: 30px;
                        outline: none;
                        border: none;
                    }

                    button {
                        position: absolute;
                        z-index: 1;
                        margin-right: 10px;
                        padding: 10px 25px;
                        background-color: $button-color;
                        color: $font-color;
                        border-radius: 30px;
                        border: none;
                        outline: none;
                    }

                }

            }

            .contents {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                margin: 70px auto;

                .footer1 {
                    flex-basis: 40%;
                    margin-right: 70px;

                    h3 {
                        margin: 0;
                    }
                    
                    .icons {
                        margin-top: 20px;

                        img {
                            width: 25px;
                            cursor: pointer;
                        }
                    }

                }

                .line {
                    height: 190px;
                    border: 1px solid $font-color;
                }

                .footer2 {
                    display: flex;
                    justify-content: space-around;
                    align-items: flex-start;
                    flex-basis: 50%;

                    .conts {
                        text-align: center;

                        h4 {
                            margin: 0;
                            font-size: large;
                            font-weight: 500;
                        }

                        p {
                            margin: 17px auto;
                            padding-left: 30px;
                            width: 40%;
                            text-align: left;
                        }

                    }

                }

            }

        }

    }

    &11 {
        background-color: $font-color;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

h2 {
    font-size: xx-large;
}

p {
    font-size: small;
    line-height: 1.7;
    font-weight: lighter;
}

button {
    cursor: pointer;
}


